//This file will create mpatch_macro.h and kconfig
//"M:" module name, "P:" Patch name

M:PLATFORM,"Platform Porting layer"
P:ARCH_GENERAL,y,"General Config For ARCH"
P:ARM,y,"For ARM only"
P:MIPS,y,"For MIPS only"
P:MIPS_EBASE,y,"Mstar MIPS e_base patch"
P:PM,y,"For PM Power Off"
P:ARM_ERRATA_775420,y,"ARM errata_775420: A data cache maintenance operation which aborts, might lead to deadlock"
P:ARM_ERRATA_835769,n,"ARM errata_835769: 64-bit multiply-accumulate instruction in AArch64 state to generate an incorrect result"
P:ARM_ERRATA_834926,n,"ARM errata_834926: A TLBIMVA(IS) executed in Non-Secure PL1 might fail to invalidate the required TLB entries when Stage2 is enabled"
P:ARM_ERRATA_834870,n,"ARM errata_834780: A CPU might report a prefetch abort on instructions fetched before an ISB"
P:ARM_ERRATA_832072,n,"ARM errata_832072: Read after read issue with Streaming store and concomitant store by another CPU"
P:ARM_ERRATA_821420,n,"ARM errata_821420: A sequence of VMOV to core registers instruction might lead to a dead lock"
P:ARM_64bit_POARTING,y,"Mstar ARM64 porting modification"
P:MSTAR_LEGANCY_INTR,y,"For Second Level Interrupt"
P:SW_PATCH_L2_SRAM_RMA,n,"For L2 Sram RMA"
P:MIPS74K_TIMER,y,"Increase waiting time for timer to response"
P:ARM_MSTAR_ETM,y,"For ARM ETM patch"
P:INT_1_to_1_SPI,n,"Interupts connect to gic spi separately"
P:ARM_PMU,y,"For ARM PMU"
P:LZMA_BIN_COMPRESSED,y,"Enable lzma bin compressed suppor"
P:CPU_SETTING,y,"Enable DVFS(dynamic voltage frequency scaling) function"
P:T_SENSOR_OBSERVATION,n,"Use kthread to observe the temperature difference"
P:FIXME,y,"PLEASE FIX ME"
P:FIQ_IRQ_HYP,n,"the extra irq and fiq which is designed for CA12"
P:UTOPIA2_INTERRUPT,n,"Support utopia2 interrupt framework"
P:UTOPIA2K_EXPORT_SYMBOL,n,"Export function for utopia2k"
P:ARM_MEMORY_HOTPLUG,n,"Add lx_mem2 to high mem page after SN starting"

M:NAND,"NAND Driver Porting layer"
P:UBI, y, "Patch for UBI"
P:MTD, y, "Patch for MTD"
P:UBIFS, y,"Patch for UBIFS"
P:Spansion, y,"Patch for specific customers"
P:BBT, y,"patch for the security mechanism of bbt"
P:BBT_SIZE, y,"add bbt size compatibility and pair page effect"

M:USB,"USB Driver Patch"
P:MSTAR, y, "MSTAR USB Porting"

M:USB,"USB STR patch"
P:STR_PATCH,y,"MSTAR Patch for usb str"

M:CHECKPT, "Print for autotest"
P:BOOT,y,"Add a checkpoint for boottime autotest"

M:COMPILER,"Fix Compiler Error"
P:ERROR,y,"Please Fix Compiler Error"

M:Android,"MSTAR Android Patch"
P:DUMMY_MSTAR_RTC,n,"MSTAR Fake RTC For Android"
P:MSTAR_HARDCODE_LPJ,n,"hardcode lpj for china customer"
P:MSTAR_RC_MAP_DEFINE,y,"MStar rc map define, depend on CONFIG_MSTAR_IR_INPUT_DEVICE"
P:PHYSICAL_DEFINE_64BIT,n,"MS_PHY64 = 64bit"

M:RCU_DETECT,"prolong the value of RCU Timeout"
P:PROLONG,n,"prolong the time that rcu detect as cpu stall"

M:DEBUG_TOOL,"MSTAR DEBUG_TOOL"
P:COREDUMP,y,"Enable COREDUMP Item"
P:KDEBUG,y,"Enable KDEBUG Item"
P:COREDUMP_PATH_BOOTARGS_ONLY,n,"coredump file will not be saved to usb, only saved to the file path from bootargs"
P:COREDUMP_USB_DEFAULT,n,"detect usb plugin and usb driver insert"
P:COREDUMP_PATH_BACKUP,n,"set Coredump Path depend on bootargs"
P:OPROFILE,y,"Enable OProfile Item"
P:VM_USED_SIZE_CHECK,y,"Add a Check for VM Space Usage"
P:COREDUMP_BUILD_IN_USB,n,"USB module is static build-in"
P:COREDUMP_WITHOUT_COMPRESS,n,"store coredump without compress"
P:CHANGELIST,y,"Display Kernel Changelist"
P:MODULE_CHECK,n,"Check module version in configurable way"
P:MEMORY_USAGE_MONITOR,n,"To monitor the order and migratetype of buddy system pages, and the page_alloc time cose" 
P:RAMLOG,n,"MSTAR RAMLOG driver"
P:MEMORY_USAGE_TRACE,n,"Tools to trace all page allocation, we can used it to analysis mem leak, or trace migration failed pages"
P:DUMP_STACK_EACH_CPU, n, "dump each cpu's stack on timer"

M:MIPS_L2,"MIPS Mstar L2 Patch"
P:CACHE,y,"Enable MIPS L2 Cache Mechanism"

M:MIPS_HIGHMEM,"MIPS Highmem Patch"
P:CACHE_ALIAS_PATCH,y,"Highmem Cache Alias Patch"
P:MEMORY_PRESENT_PATCH,y,"Mstar highmem memory present patch"

M:MIPS_DMA,"MIPS DMA ALLOCATE"
P:DMA_ALLOC_COHERENT_PATCH,y,"MALI DMA ALLOCATE PATCH(to force using __GFP_DMA flag)"

M:MIPS, "MIPS Support (move others from here in the future)"
P:MIPS16E_UNALIGNED_ACCESS_FPU_FIXED,y,"MIPS16e Unaligned Access FPU Fixed Support"

M:SMP,"Core 2 control"
P:STARTUP,y,"Booting address of core2"

M:UART,"MSTAR UART"
P:SERIAL_8250_RIU_BASE,y,"RIU BASE for SERIAL 8250"

M:NTFS3G,"NTFS3G CONTROL"
P:WRAP,y,"Enable NTFS3G WRAP"

M:MSTAR_STR,"MStar STR"
P:BASE,n,"Enable MStar STR"

M:CA7,"CA7 Quad Core patch"
P:QUAD_CORE_PATCH,n,"MSTAR porting code for CA7 Quad-Core"

M:security,"security"
P:dm_verity,n," porting dm verity"

M:SYNC_3_1_10_SETTING,"Sync 3.1.10 setting"
P:VMALLOC_SETTING,n,"Sync 3.1.10 vmalloc setting"

M:CMA_PATCH,"CMA PATCH"
P:LX_MEMORY_ALIGN_TO_8K_CHECK,n,"cma_buffer will be re-mapped, so we need to ensure LX_MEMORY will align to 8K"
P:CMA_MSTAR_DRIVER_BUFFER,n,"Store MSTAR DRIVER CMA BUFFER INFO"
P:CMA_AGGRESSIVE_ALLOC,n,"Aggressively allocate the pages on cma reserved memory, depends on CONFIG_CMA"
P:CMA_MORE_AGGRESSIVE_ALLOC,n,"More aggressively allocate the pages on cma reserved memory if alloc movable fail, depends on CONFIG_CMA"
P:CMA_UNCACHED_DIRECT_MAPPING,n,"For TEE, CMA buffers need to be uncached direct mapping"
P:CMA_DEFAULT_BUFFER_LIMITTED_TO_LX0,n,"cma default buffer will be limitted to LX0 MEM, otherwise, it will be limitted to arm_lowmem_limit"
P:FORCE_MIGRATION,n,"move_to_new_page() will force migrate a page @cma_buffer to a new_page"
P:FORCE_ALLOC_START_ADDR,n,"dma_alloc_at_from_contiguous() will change start_addr if alloc_contig_range is failed and start is 0x0(offset of cma_pool is 0x0), this will lead dma_release_from_contiguous failed"
P:MSTAR_ION_MTLB,n,"if using mstar, you need to use ion_mtlb instead of mtlb"
P:COMPACTION_FROM_NONCMA_TO_CMA,n,"In case CMA area is too big, we need to balance free pages from CMA area to non CMA area to match unmovable allocation requirement"
P:DELAY_FREE,n,"Delay Free CMA Buffer
P:MIGRATION_FILTER,n,"compaction migrate bdev/journal buffer page is not allowed"
P:OOM_KILLER,n,"while there is no any large order pages(ex: order 2), still go to kill process even the order 0 pages is still a lot"
P:SMALLER_SOCKET_BUFFER,n,"change the socket buffer max_order from 2 to 0, for preventing memory fragmentation issue"
P:DO_FORK_PAGE_POOL,n,"reserve a page_pool of order 2 page, for preventing memory fragmentation issue when do_fork @ creating thread_info"
P:SMALLER_SLAB_PAGE,n,"change the alloc_slab_page() size to min order 0"
P:ION_LOW_ORDER_ALLOC,n,"change the ion only alloc order 0 page"
P:DISABLE_HIORDER,n,"Disable all hiorder page alloc"
P:MSTAR_KMALLOC,n,"Mstar kmalloc"
P:AGRESSIVE_KILL_PROCESS_TO_FREE_CMA_PAGE,n,"Agressively killing processes which hold CMA pages to avoid tons of migrations"
P:KSM_MIGRATION_FAILURE,n,"Patch for KSM page migrating failture"
P:VM_UNMAP,n,"Forcibly removed VM unuse pages"

M:GLOBAL_TIMER,"Global timer use external crystal"
P:12MHZ_PATCH,n,"Global timer use 12MHz Xtali"

M:ION_PATCH,"ION PATCH"
P:MSTAR,n,"Choose this option if you wish to use ion on an mstar platform, depend on ION"
P:MSTAR_CUSTOMER_IOCTL,n,"Choose this option if you wish to use mstar mtlb, depend on ION && MP_ION_PATCH_MSTAR"
P:CACHE_FLUSH_MOD,y,"modify cacheflush for user to call"

M:STATIC_TIMER,"Use static timer"
P:CLOCK_SOURCE,n,"Change timer clock source"

M:SPARSE_MEM,"SPARSE_MEMORY_PATCH"
P:ENABLE_HOLES_IN_ZONE_CHECK,y,"Check if we enable CONFIG_HOLES_IN_ZONE for ARM chips(MIPS does not eanbled)"

M:FAT,"FAT Filesystem"
P:VOLUME_LABEL,y,"ENABLE FAT VOLUME LABEL"
P:DEBUG_MESSAGE_CONTROL,y,"CONTROL FAT DEBUG MESSAGE"
P:FALLOCATE,n,"MSTAR Patch for fat fallocate system call"

M:NTFS,"KERNEL SELF NTFS CONTROL"
P:IOCTL,y,"Enable NTFS IOCTL"
P:VOLUME_LABEL,y,"Enable NTFS VOLUME LABEL"
P:VOLUME_ID,y,"Enable NTFS VOLUME ID"
P:READ_PAGES,y,"ADD and Enable NTFS READ PAGES"
P:2TB_PLUS_PARTITION_SUPPORT,n,"Add 2TB+ Partition Support"
P:PAGE_CACHE_READAHEAD,y,"Add page cache readahead for some operations to improve performance"

M:SCSI,"SCSI sd card"
P:MSTAR_SD_CARD_HOTPLUG,y,"MSTAR Patch for sd card hotplug"
P:MSTAR_SD_CARD_IMMEDIATELY_UNPLUG,y,"MSTAR Patch for sd card Immediately unplug after plug"
P:HD_SUSPEND,y,"Do not clean cache when suspend"
P:MULTI_LUN,y,"recognize multi-lun device's luns which are not the first lun"

M:ETHERNET,"Enhane smartbit result"
P:MSTAR_ICMP_ENHANCE,n,"MSTAR Patch for pass Smartbit ICMP throughput test"

M:WIFI,"WIFI relative patch"
P:INC_DEFAULT_DMA_COHERENT_POOL_SIZE,y,"Increase default dma buffer value"

M:SCHED,"Antutu relative patch"
P:POLICY_PATCH,y,"Hide schedule policy for Antutu"

M:AARCH64_PHYSICAL_DEFINE,"MS_PHY64 PATCH"
P:64BIT,n,"MS_PHY64 = 64bit"

M:DVFS, "DVFS_MODIFICATION For Kernel"
P:VID_ONLY,n,"for SN use, SN will use fixed cpufreq, but SN needs to change cpu_power, and the T_sensor check will only do reboot"

M:NEW_UTOPIA,"NEW UTOPIA 32BIT PATCH"
P:32BIT,n,"NEW UTOPIA 32BIT PATCH"

M:TRUSTZONE,"TRUSTZONE"
P:PATCH,n,"TRUSTZONE"

M:BINDER,"BINDER RELATED"
P:KERNEL_SELF_PATCH,y,"kernel self patch"

M:CACHE,"CACHE PATCH"
P:DROP,n,"Drop cache in kernel thread"

M:FUSION,"FUSION_PATCH"
P:SIZE_ADDRESS_REFINE,n,"Check if we enable SIZE_ADDRESS_REFINE for K5C & K5CN chip(other chips does not eanbled)"

M:MM,"DMA Zone Extend Patch"
P:DMA_ZONE_EXTEND_PATCH,n,"Extend DMA Zone to avoid USB Module allocate memory from DMA_ZONE failed when ramdisk end address over DMA Zone"

M:INPUT_PATCH,"INPUT PATCH"
P:STOP_SAMEKEYREPEAT_YOU_START,y,"Auto key repeat event is only stopped when that key is the same with the one recorded in input_stop_autorepeat"

M:OPERATION,"OPERATIONS"
P:NO_FLOATING,y,"Forbidden any floating operations"

M:KERNEL_COMPAT,"Kernel forward/backford compatibility"
P:PATCH_FIX_INODE_CLUSTER_LIST,y,"port relative code from lower kernel version"
