config MSTAR_SAR

tristate "SAR"
default n

---help---
Enable compilation option for driver SAR


config MSTAR_DVFS_ENABLE
    bool "Enable Mstar DVFS"
    depends on MSTAR_SAR
    #depends on (EXT_PLATFORM_FLAG="general") || (EXT_PLATFORM_FLAG="tvos")
    default n
    help
        Select if you want to enable DVFS. If unsure, say 'N'.

